<div class="header" align="middle">
  <p id="title" style="font-family:Dancing Script; color:#07BA93">Givly</p>
  <a class="button" href="#giveClick" rel="modal:open" style="color:#07BA93">Live Generously</a>
  <p></p>
</div>


<!-- Modal -->
<div id="giveClick" style="display:none;">
  <div style="font-family:Cutive Mono; color:#BB3AFC">
    <p style="font-weight: bold; margin-top: 2rem">Givly has one aim:</p>
    <p>To removes the barriers that separate the need from the Give.</p>
    <p>We want to enable you to make charitable donations easily, simply and straight from your smartphone.</p>
    <p>Make a difference to someone - Live Generously.</p>
    <p></p>
    <p>---</p>
    <p></p>
    <p>We’re just getting started. More to come soon…</p>
  </div>
</div>
