<!DOCTYPE html>
<html>
  <head>
    <title>Givly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Boilerplate -->
      <!-- Basic Page Needs -->
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Givly</title>

      <!-- Mobile Specific Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- FONT -->
      <link href="http://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Cutive+Mono:400,700" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Cinzel:400,700" rel="stylesheet" type="text/css">

  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <p id="copywright" style="vertical-align:bottom; text-align:center; font-family:Cutive Mono; color:#BB3AFC">&copy copywright 2015 Givly.net</p>
  </footer>
</html>
